* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'mainBodyFont';
    src: url('./Chivo-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
  }

  @font-face {
    font-family: 'priceFont';
    src: url('./Spectral-ExtraLight.ttf') format('truetype');
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'mainBodyFont';
    background-color: #f4e3b5;
}

#content {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: auto;
}

.infoArea {
    flex: 3;
    background-color: #f4e3b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.restaurantHeading {
    text-align: center;
    font-size: 9rem;
    margin: 0;
}

.restaurantIntro {
    height: auto;
    width: 80%;
    text-align: center;
}

.pageTitle {
    font-size: 4rem;
    font-weight: 600;
}

/*sticky side bar - done so with position, top and height property*/
.navBar {
    position: sticky;
    top: 0;
    flex: 1;
    background-color: aquamarine;
    animation: moveToRight ease 1s;
    height: 100vh;
}

  @keyframes moveToRight {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}


.navTitles {
    font-size: 2rem;
}

.linkSpace {
    background-color: aliceblue;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkSpace:hover {
    cursor: pointer;
}

.navLogo {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    text-align: center;
}

/* menu page */

.fullMenuSection {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuSection {
    width: 100%;
    height: auto;
    font-size: 3rem;
    margin: 180px 0 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
}

.menuNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 2;
}

.menuLink {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.itemBox {
    width: 800px;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.imageDiv {
    margin-right: 20px;
    flex: 1;
    overflow: hidden;
}

.textBox {
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Vertically space the child divs */
}

.foodTitle {
    font-size: 2rem;
    font-family: 'priceFont';
}

.price {
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    padding: 10px;
    text-align: center;
}

.requirements {
    font-style: italic;
    margin: 0;
}


.infoBottom {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.infoTop {
    width: 100%;
    text-align: justify;
}

/*contact page*/

@keyframes fadeFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);;
        opacity: 1;
    }
}

.contactFormSpace {
    width: 90%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    animation: fadeFromBottom 2s ease;
}

.contactIntroDiv {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}

.listedInfo {
    height: 100%;
    flex: 1;
}

.formSide {
    flex: 1;
    height: 100%;
}

.formArea {
    height: auto;
    width: auto;
    text-align: left;
}

.submitSuccessful {
    margin: 0;
}

input[type="text"] {
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.labelDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#messageArea {
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

/* about page */
.aboutArea {
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}